<!--Navigation Bar-->
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="border-radius: 1rem;">
  <a class="navbar-brand" href="/">
    <!--Logo-->
    <img src="/images/coffee_logo.png" alt="Logo" width="30" height="24"
      class="d-inline-block align-text-top logo-img"></a>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <!--Home Button-->
      <a class="nav-link" href="/">Home</a>
    </li>
  </ul>
</nav>