<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="container">

    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>
        <div class="jumbotron">
            <centre><h1>Welcome to Coffee House</h1></centre>
            <input type="button" value="Let's Brew some Coffe...!" onclick="location.href='/page1'">
            <!-- <p>Welcome to Coffe House</p> -->
        </div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>

</html>