<head>
    <%- include('../partials/head'); %>
        <script>
            /* service-worker for caching*/
            if ('serviceWorker' in navigator) {
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js')
                        .then(registration => {
                            /* Below commented code used to check the implementation of caching service worker */
                            // console.log('Service worker registered:', registration);
                        })
                        .catch(error => {
                            /* Below commented code used to check the implementation of caching service worker */
                            // console.error('Service worker registration failed:', error);
                        });
                });
            }
        </script>
</head>

<body class="container d-flex flex-column vh-100">

    <header>
        <%- include('../partials/header'); %>
    </header>

    <main class="flex-grow-1">

        <!--Home Page card-->
        <div class="jumbotron text-center" style="border-radius: 2rem; margin-top: 10px;">
            <h1 style="font-family: Akaya Kanadaka;">Welcome to Coffee House</h1>
            <div class="row justify-content-center">
                <a href='/page1' style="text-decoration: none;">
                    <img src="/images/coffee_logo.png" style="height: auto; width: 200px;">
                </a>
            </div>
            <div class="row justify-content-center" style="margin-top: 10px;">
                <button type="button" class="btn btn-outline-primary" onclick="location.href='/page1'">
                    <h1><b>Lets Brew some Coffee...!!</b></h1>
                </button>
            </div>
        </div>
    </main>

    <!--Page Footer-->
    <footer class="footer">
        <%- include('../partials/footer'); %>
    </footer>

</body>

</html>