<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="container">

    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>
        <div class="jumbotron text-center" style="border-radius: 2rem; margin-top: 10px;">
            <h1 style="font-family: Akaya Kanadaka;">Welcome to Coffee House</h1>
            <div class="row justify-content-center">
                <a href='/page1' style="text-decoration: none;">
                    <img src="/images/coffee_logo.png" style="height: auto; width: 200px;">
                </a>
            </div>
            <div class="row justify-content-center" style="margin-top: 10px;">
                <button type="button" class="btn btn-outline-primary" onclick="location.href='/page1'">
                    <h1><b>Lets Brew some Coffee...!!</b></h1>
                </button>
            </div>
        </div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>

</html>